$color-one: #cdcdcd;
$color-two: #a7abb0;
$color-three: rgb(164, 168, 206);

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;


}

.loader {
    margin: auto;
    width: 650px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-one;
}

.container {
    background-color: #afb0af;
    width: 500px;
    margin: auto;
    padding: 20px;
}


.navContainer {
    background-color: #84867b;
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 950px;
    min-width: 950px;
    justify-content: space-around;

    .linker {
        color: $color-one;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            font-weight: bold;
            color: #fdc714;
            text-shadow: 2px 2px 7px black;
        }
    }




}





.spectral {
    height: 40px;
}


.fizika {
    display: flex;
    flex-direction: column;
    margin: auto;

    // padding: 12px;
    // padding-left: 75px;
    // padding-right: 10px;
    background-color: #f4f2eb;
    width: 950px;

    .head {
        padding-left: 300px;
        text-align: center;
    }

    .warp {
        padding: 2px 15px;
        display: flex;
        flex-direction: column;
        font-size: 22px;

        div {
            padding: 10px 0px;
        }

        p {
            font-size: 18px;
        }
    }

    .atomDet {
        padding: 3px 20px;
    }

    .summary {
        width: 890px;
    }

    .nameAtom {
        padding-top: 15px;
        // display: flex;

        // justify-content: center;
        // align-items: center;
        font-size: 26px;
        width: 800px;
        padding-left: 35px;

        &:hover {
            cursor: pointer;
            color: #fc9700;
            text-shadow: 1px 1px 2px black;
        }
    }

    .symbol {
        text-align: center;
        width: 90px;
        height: auto;
        background-color: #fdfdfd;
        border: 1px solid #100e42;

        border-radius: 7px;
        font-size: 52px;
        color: #070818;
        font-family: 'Arial Narrow Bold', sans-serif;
    }

    .symbolClick {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        color: #070818;
        border: 1px solid #070818;
        background-color: #ffffff;
        border-radius: 7px;
        font-size: 52px;
        width: 100px;
        height: 100px;

        &:hover {
            cursor: pointer;


            text-shadow: 1px 1px 2px rgb(254, 155, 48);

        }

        .number {
            color: #000000;
            font-size: 18px;
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .name {
            color: #000000;
            font-size: 14px;
            position: absolute;
            bottom: 5px;
            left: 5px;
        }
    }


    .spImg {
        height: 100px;
    }



    .imgHold {
        width: 930px;



    }

    .atomicMass {
        width: 200px;
    }



    model-viewer {
        margin: auto;
        cursor: grab;
        display: flex;
        height: 700px;
        width: 925px;
        border-color: #fd4a14;
        overflow: hidden;
        position: relative;
        user-select: none;
    }

    .span {
        width: 925px;
        height: 2px;
        border-bottom: solid 2px #828c82;
    }
}

.view-button {
    background-color: transparent;
    border-color: transparent;

}



.back-to-top {
    position: fixed;
    bottom: 120px;
    right: 600px;
    font-size: 55px;

    cursor: pointer;


    &:hover {

      


        transform: scale(1.2, 1.2);
        z-index: 1;
    }


}






.periodic-table {
    margin-top: 380px;
    display: grid;
    grid-template-columns: repeat(18, 64px);
    grid-template-rows: repeat(10, 64px);
    grid-gap: 4px;
    position: absolute;

    left: 50%;
    transform: translate(-50%, -50%);
}

.element {

    border: 1px solid #aaa;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 34px;
    cursor: pointer;

    .number {
        font-size: 12px;
        position: absolute;
        top: 3px;
        right: 3px;
    }

    .name {
        font-size: 9px;
        position: absolute;
        bottom: 3px;
        left: 3px;
    }
}

.element:hover {
    transform: scale(1.4, 1.4);
    z-index: 1;
}

.category {
    font-size: 20px;
    width: 1200px;
    margin: auto;
    margin-top: 750px;
    text-align: center;

    td {
        width: 400px;
        height: 20px;
        border-radius: 6px;
    }

    .space {
        height: 500px;
    }
}


@media screen and (max-width: 1400px) {
    .back-to-top {
        font-size: 45px;
        bottom: 20px;
        right: 200px;
    }

}

@media screen and (max-width: 1050px) {
    .back-to-top {
        font-size: 38px;
        bottom: 20px;
        right: 50px;
    }

}

@media screen and (max-width: 900px) {
    .navContainer {
        max-width: 780px;
        min-width: 780px;


        margin: auto;

    }

    .periodic-table {
        margin-top: 240px;
        display: grid;
        grid-template-columns: repeat(18, 36px);
        grid-template-rows: repeat(10, 47px);
        grid-gap: 3px;
        position: absolute;

        left: 50%;
        transform: translate(-50%, -50%);
    }

    .element {
        top: 25px;
        font-size: 22px;

        .number {
            font-size: 6;
            top: 0px;
            right: 1px;
        }

        .name {

            color: transparent;

        }

    }

    .fizika {
        width: 780px;

        .imgHold {
            width: 755px;
        }

        .summary {
            width: 740px;
        }

        model-viewer {

            height: 500px;
            width: 720px;

        }

        .span {
            width: 755px;
        }

    }

    .elements {
        margin-top: 5px;
    }

    .category {
        font-size: 16px;
        width: 750px;
        margin: auto;
        margin-top: 530px;
        text-align: center;

        td {
            height: 20px;
            width: 250px;
            border-radius: 6px;
        }

        .space {
            height: 900px;
        }
    }

    .back-to-top {
        font-size: 35px;
        bottom: 60px;
        right: 30px;
    }
}

@media screen and (max-width: 680x) {

    .periodic-table {

        margin-top: 230px;
    }

    .category {
        font-size: 8px;
        width: 250px;
        margin: auto;
        margin-top: 520px;
        text-align: center;

        td {
            height: 50px;
            width: 115px;
            border-radius: 6px;
        }

        .space {
            height: 900px;
        }
    }

    .navContainer {
        max-width: 400px;
        min-width: 400px;
    }

    .fizika {
        width: 400px;

        // padding-left: 10px;
        .head {
            padding-left: 100px;
            font-size: 26px;
        }

        .warp {
            max-width: 358px;
            padding: 3px 10px;
            font-size: 16px;

            div {
                padding: 5px 0px;
            }

            p {
                font-size: 12px;
            }
        }

        .atomDet {
            padding: 2px 12px;
        }

        .summary {
            width: 340px;
        }

        .symbol {
            max-width: 70px;
            min-width: 70px;
            font-size: 32px;
        }

        .nameAtom {
            padding-left: 15px;
            font-size: 25px;
        }

        .symbolClick {



            font-size: 42px;
            width: 80px;
            height: 80px;

            &:hover {
                cursor: pointer;


                text-shadow: 1px 1px 3px #f3b85f;

            }

            .number {
                color: #000000;
                font-size: 16px;
                position: absolute;
                top: 5px;
                right: 5px;
            }

            .name {
                color: #000000;
                font-size: 11px;
                position: absolute;
                bottom: 5px;
                left: 5px;
            }
        }


        .spImg {
            // width: 70px;
            height: 60px;
        }

        .imgHold {
            width: 343px;
        }

        model-viewer {

            height: 300px;
            width: 343px;

        }

        .span {
            width: 343px;
        }
    }

}

@media screen and (max-width: 430px) {
    .fizika {
        width: 400px;
    }

    .periodic-table {
        margin-top: -110px;
        display: grid;
        grid-template-columns: repeat(18, 18px);
        grid-template-rows: repeat(10, 20px);
        grid-gap: 1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .element {

            border: 1px solid transparent;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            font-family: Tahoma, Geneva, Verdana, sans-serif;
            font-size: 12px;

            .number {
                font-size: 3px;
                position: absolute;
                top: 0px;
                left: 9px;
            }

            .name {

                color: transparent;

            }

        }
    }

    .category {
        font-size: 14px;
        width: 345px;
        margin: auto;
        margin-top: 280px;
        text-align: center;

        td {
            height: 50px;
            width: 115px;
            border-radius: 6px;
        }

        .space {
            height: 900px;
        }
    }
}

@media screen and (max-width: 390px) {
    body {
        font-size: 16px;
        margin: 0;
        padding: 0;


    }

    .fizika {
        width: 358px;

    }

    .loader {
        max-width: 358px;
        min-width: 358px;
        height: 700px;
    }

    .navContainer {
        max-width: 358px;
        min-width: 358px;


        .linker:hover {
            text-shadow: 1px 1px 4px black;
        }
    }



    .periodic-table {
        margin-top: -150px;

    }




    .category {
        font-size: 14px;
        width: 345px;
        margin: auto;
        margin-top: 320px;

    }

    .back-to-top {
        font-size: 32px;
        bottom: 60px;
        right: 20px;
    }
}